
h1{
	text-transform: capitalize;
	font-family: "Quakiez-Display";
	font-size: 250px;
}
p{
	text-transform: capitalize;
}

@font-face {
	font-family: 'Quakiez-Display';
	  src: url('/Fonts/Quakiez-Display.eot'),
		url('/Fonts/Quakiez-Display.eot?#iefix') format('embedded-opentype'),
		  url('/Fonts/Quakiez-Display.woff2') format('woff2'),
		  url('/Fonts/Quakiez-Display.woff') format('woff'),
		  url('/Fonts/Quakiez-Display.ttf')  format('truetype'), 
		  url('/Fonts/Quakiez-Display.svg') format('svg'); 
	  font-weight: 400;
	  font-style: normal;
	  font-display: swap;
}


/* This uses the same value as --size-xs. */
@media screen and (width >= 320px) {
	.content-container {
		margin: 0 auto;
		max-width: 768px;
	}
}